<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask project</title>
</head>
<body>
    <h1>Produtos</h1>

    <table border="2px">
        <tr>
            <th> Nome </th>
            <th> Descrição </th>
        </tr>
        {% for produto in produtos %}
        <tr>
            <td> {{ produto.nome }} </td>
            <td> {{ produto.descricao }} </td>
        </tr>    
        {% endfor %} 
    </table>
</body>
</html>
